{{- $hexadecimal := (replace (. | urlquery) "+" "%20") | base64Encode -}}
{{- $hexadecimal = replace $hexadecimal "A" "A," -}}
{{- $hexadecimal = replace $hexadecimal "B" "B," -}}
{{- $hexadecimal = replace $hexadecimal "C" "C," -}}
{{- $hexadecimal = replace $hexadecimal "D" "D," -}}
{{- $hexadecimal = replace $hexadecimal "E" "E," -}}
{{- $hexadecimal = replace $hexadecimal "F" "F," -}}
{{- $hexadecimal = replace $hexadecimal "G" "G," -}}
{{- $hexadecimal = replace $hexadecimal "H" "H," -}}
{{- $hexadecimal = replace $hexadecimal "I" "I," -}}
{{- $hexadecimal = replace $hexadecimal "J" "J," -}}
{{- $hexadecimal = replace $hexadecimal "K" "K," -}}
{{- $hexadecimal = replace $hexadecimal "L" "L," -}}
{{- $hexadecimal = replace $hexadecimal "M" "M," -}}
{{- $hexadecimal = replace $hexadecimal "N" "N," -}}
{{- $hexadecimal = replace $hexadecimal "O" "O," -}}
{{- $hexadecimal = replace $hexadecimal "P" "P," -}}
{{- $hexadecimal = replace $hexadecimal "Q" "Q," -}}
{{- $hexadecimal = replace $hexadecimal "R" "R," -}}
{{- $hexadecimal = replace $hexadecimal "S" "S," -}}
{{- $hexadecimal = replace $hexadecimal "T" "T," -}}
{{- $hexadecimal = replace $hexadecimal "U" "U," -}}
{{- $hexadecimal = replace $hexadecimal "V" "V," -}}
{{- $hexadecimal = replace $hexadecimal "W" "W," -}}
{{- $hexadecimal = replace $hexadecimal "X" "X," -}}
{{- $hexadecimal = replace $hexadecimal "Y" "Y," -}}
{{- $hexadecimal = replace $hexadecimal "Z" "Z," -}}
{{- $hexadecimal = replace $hexadecimal "a" "a," -}}
{{- $hexadecimal = replace $hexadecimal "b" "b," -}}
{{- $hexadecimal = replace $hexadecimal "c" "c," -}}
{{- $hexadecimal = replace $hexadecimal "d" "d," -}}
{{- $hexadecimal = replace $hexadecimal "e" "e," -}}
{{- $hexadecimal = replace $hexadecimal "f" "f," -}}
{{- $hexadecimal = replace $hexadecimal "g" "g," -}}
{{- $hexadecimal = replace $hexadecimal "h" "h," -}}
{{- $hexadecimal = replace $hexadecimal "i" "i," -}}
{{- $hexadecimal = replace $hexadecimal "j" "j," -}}
{{- $hexadecimal = replace $hexadecimal "k" "k," -}}
{{- $hexadecimal = replace $hexadecimal "l" "l," -}}
{{- $hexadecimal = replace $hexadecimal "m" "m," -}}
{{- $hexadecimal = replace $hexadecimal "n" "n," -}}
{{- $hexadecimal = replace $hexadecimal "o" "o," -}}
{{- $hexadecimal = replace $hexadecimal "p" "p," -}}
{{- $hexadecimal = replace $hexadecimal "q" "q," -}}
{{- $hexadecimal = replace $hexadecimal "r" "r," -}}
{{- $hexadecimal = replace $hexadecimal "s" "s," -}}
{{- $hexadecimal = replace $hexadecimal "t" "t," -}}
{{- $hexadecimal = replace $hexadecimal "u" "u," -}}
{{- $hexadecimal = replace $hexadecimal "v" "v," -}}
{{- $hexadecimal = replace $hexadecimal "w" "w," -}}
{{- $hexadecimal = replace $hexadecimal "x" "x," -}}
{{- $hexadecimal = replace $hexadecimal "y" "y," -}}
{{- $hexadecimal = replace $hexadecimal "z" "z," -}}
{{- $hexadecimal = replace $hexadecimal "0" "0," -}}
{{- $hexadecimal = replace $hexadecimal "1" "1," -}}
{{- $hexadecimal = replace $hexadecimal "2" "2," -}}
{{- $hexadecimal = replace $hexadecimal "3" "3," -}}
{{- $hexadecimal = replace $hexadecimal "4" "4," -}}
{{- $hexadecimal = replace $hexadecimal "5" "5," -}}
{{- $hexadecimal = replace $hexadecimal "6" "6," -}}
{{- $hexadecimal = replace $hexadecimal "7" "7," -}}
{{- $hexadecimal = replace $hexadecimal "8" "8," -}}
{{- $hexadecimal = replace $hexadecimal "9" "9," -}}
{{- $hexadecimal = replace $hexadecimal "+" "+," -}}
{{- $hexadecimal = replace $hexadecimal "/" "/," -}}
{{- $hexadecimal = replace $hexadecimal "=" "=," -}}
{{- $hexadecimal = replace $hexadecimal "A," "65" -}}
{{- $hexadecimal = replace $hexadecimal "B," "66" -}}
{{- $hexadecimal = replace $hexadecimal "C," "67" -}}
{{- $hexadecimal = replace $hexadecimal "D," "60" -}}
{{- $hexadecimal = replace $hexadecimal "E," "61" -}}
{{- $hexadecimal = replace $hexadecimal "F," "62" -}}
{{- $hexadecimal = replace $hexadecimal "G," "63" -}}
{{- $hexadecimal = replace $hexadecimal "H," "6c" -}}
{{- $hexadecimal = replace $hexadecimal "I," "6d" -}}
{{- $hexadecimal = replace $hexadecimal "J," "6e" -}}
{{- $hexadecimal = replace $hexadecimal "K," "6f" -}}
{{- $hexadecimal = replace $hexadecimal "L," "68" -}}
{{- $hexadecimal = replace $hexadecimal "M," "69" -}}
{{- $hexadecimal = replace $hexadecimal "N," "6a" -}}
{{- $hexadecimal = replace $hexadecimal "O," "6b" -}}
{{- $hexadecimal = replace $hexadecimal "P," "74" -}}
{{- $hexadecimal = replace $hexadecimal "Q," "75" -}}
{{- $hexadecimal = replace $hexadecimal "R," "76" -}}
{{- $hexadecimal = replace $hexadecimal "S," "77" -}}
{{- $hexadecimal = replace $hexadecimal "T," "70" -}}
{{- $hexadecimal = replace $hexadecimal "U," "71" -}}
{{- $hexadecimal = replace $hexadecimal "V," "72" -}}
{{- $hexadecimal = replace $hexadecimal "W," "73" -}}
{{- $hexadecimal = replace $hexadecimal "X," "7c" -}}
{{- $hexadecimal = replace $hexadecimal "Y," "7d" -}}
{{- $hexadecimal = replace $hexadecimal "Z," "7e" -}}
{{- $hexadecimal = replace $hexadecimal "a," "45" -}}
{{- $hexadecimal = replace $hexadecimal "b," "46" -}}
{{- $hexadecimal = replace $hexadecimal "c," "47" -}}
{{- $hexadecimal = replace $hexadecimal "d," "40" -}}
{{- $hexadecimal = replace $hexadecimal "e," "41" -}}
{{- $hexadecimal = replace $hexadecimal "f," "42" -}}
{{- $hexadecimal = replace $hexadecimal "g," "43" -}}
{{- $hexadecimal = replace $hexadecimal "h," "4c" -}}
{{- $hexadecimal = replace $hexadecimal "i," "4d" -}}
{{- $hexadecimal = replace $hexadecimal "j," "4e" -}}
{{- $hexadecimal = replace $hexadecimal "k," "4f" -}}
{{- $hexadecimal = replace $hexadecimal "l," "48" -}}
{{- $hexadecimal = replace $hexadecimal "m," "49" -}}
{{- $hexadecimal = replace $hexadecimal "n," "4a" -}}
{{- $hexadecimal = replace $hexadecimal "o," "4b" -}}
{{- $hexadecimal = replace $hexadecimal "p," "54" -}}
{{- $hexadecimal = replace $hexadecimal "q," "55" -}}
{{- $hexadecimal = replace $hexadecimal "r," "56" -}}
{{- $hexadecimal = replace $hexadecimal "s," "57" -}}
{{- $hexadecimal = replace $hexadecimal "t," "50" -}}
{{- $hexadecimal = replace $hexadecimal "u," "51" -}}
{{- $hexadecimal = replace $hexadecimal "v," "52" -}}
{{- $hexadecimal = replace $hexadecimal "w," "53" -}}
{{- $hexadecimal = replace $hexadecimal "x," "5c" -}}
{{- $hexadecimal = replace $hexadecimal "y," "5d" -}}
{{- $hexadecimal = replace $hexadecimal "z," "5e" -}}
{{- $hexadecimal = replace $hexadecimal "0," "14" -}}
{{- $hexadecimal = replace $hexadecimal "1," "15" -}}
{{- $hexadecimal = replace $hexadecimal "2," "16" -}}
{{- $hexadecimal = replace $hexadecimal "3," "17" -}}
{{- $hexadecimal = replace $hexadecimal "4," "10" -}}
{{- $hexadecimal = replace $hexadecimal "5," "11" -}}
{{- $hexadecimal = replace $hexadecimal "6," "12" -}}
{{- $hexadecimal = replace $hexadecimal "7," "13" -}}
{{- $hexadecimal = replace $hexadecimal "8," "1c" -}}
{{- $hexadecimal = replace $hexadecimal "9," "1d" -}}
{{- $hexadecimal = replace $hexadecimal "+," "0f" -}}
{{- $hexadecimal = replace $hexadecimal "/," "0b" -}}
{{- $hexadecimal = replace $hexadecimal "=," "19" -}}
{{- $hexadecimal -}}